@using blazor_adventskalender.Shared.Models

<html>
    <head>
        <link rel="stylesheet" href="~/css/Index.css" />
    </head>
    <body>
    <div class="card-container">
            <h1>@Door.ID</h1>
    </div>


    <style>
        .card-container {
            border: 2px solid black;
            width: 100px;
            height: 100px;
            margin: auto;
            border-radius: 5px;
            margin-top: 250px; 
            text-align: center; 
            display:flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
        }

        h1 {
            display: block;
            text-align:center;
            width: 100%;
        }
    </style>
    </body>
</html>

@code {
    [Parameter]
    public OneDoorModel Door { get; set;  }
}
