@page "/OneDoor"

<html>
    <head>
        <link rel="stylesheet" href="~/css/Index.css" />
    </head>
    <body>
    <div class="card-container">
            Das ist dein erstes Türchen
    </div>
    </body>
</html>

@code {

}
