@page "/"
@using blazor_adventskalender.Client.Components

<html>
    <head>
        <link rel="stylesheet" href="~/css/Index.css" />
    </head>
    <body>
        <OneDoor></OneDoor>
    </body>
</html>

@code {

}